@import "../presets/skin";
@import "../presets/variables";

%container {
    max-width: $ul;
    margin: auto;
    padding-left: $gap;
    padding-right: $gap;
}

%center-text{
    text-align: center;
    transition: color 0.5s;
}